// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
  background: #ebebeb; //background
  color: white; //text
  border: 1px solid black;
  border-radius: 50%; //default styles include a border
}
 
// Will edit selected date or the endpoints of a range of dates
.CalendarDay__selected {
  background: black;
  color: white;
  border-radius: 50%;
}
 
// Will edit when hovered over. _span style also has this property
.CalendarDay__selected:hover {
  background: #ebebeb;
  color: black;
  border-radius: 50%;
}
 
// Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #ebebeb80;
  color: black;
  border-radius: 50%;
}

input.DateInput_input {
 
  border-left: 1px solid black; 
  font-family: 'Palanquin', sans-serif;
  font-size: 16px;
}

input.DateInput_input:focus {
  box-shadow: 1px 3px 12px 7px rgba(190,190,190,0.3);
  border-radius: 25px;
  border: none;
}

input.DateInput_input:valid {
  font-weight: 100;
}

.DayPicker {
  border-radius: 25px;
}

.DateInput_fangShape{
  display: none;
}

.DateInput_fangStroke{
  display: none;
}

.CalendarMonth.CalendarMonth_1{
  border-radius: 25px;
}





