.img-container {
  border-radius: 20px;
  overflow: hidden;
  height: 450px;
  width: 100%;
  margin: 20px auto 40px auto;

  img:hover {
    filter: brightness(80%);
    transition: 1s;
  }
}

.big-image{
  width: 50%;
  height: 100%;
  display: inline-block;
  >img {
    height: 100%;
    object-fit: cover;
  }
}

.second-column, .third-column {
  display: inline-block;
  height: 100%;
  width: 24%;
  > img {
    height: 50%;
    object-fit: cover;
    margin-bottom: 9px;
    margin-left: 9px;
  }
}

.second-column{
  margin-right: 10px;
}

.listing-show {
    padding-left: px;
    width: 1250px;
    margin: 0 auto;
    position: relative;

    h1 {
      font-size: 36px;
      font-weight: 600;
    }

    h2 {
      font-size: 30px;
      font-weight: 400;
    }

    .listing-description p {
      font-size: 20px;
      font-weight: 100;
      line-height: 1em;
    }
}

.sub-header {
  span {
    font-size: 16px;
    margin-right: 10px;
  }
}

.amenities {
  margin-top: 25px;
  width: 60%;
  height: 350px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  h2 {
    margin-top: 25px;
  };

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    margin-top: 20px;
  }
}

.amenity-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 20px;
  > i {
    margin-right: 15px;
  }
}

.listing-description{
  margin-top: 25px;
  width: 60%;
  height: 250px;
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  strong{
    display: block;
  }
}





