#map-container {
   height: 100%;
   width: 100%;
}

#show-map-wrapper {
   height: 500px;
   width: 100%;
   margin-bottom: 50px;
   margin-top: 40px;
}

#index-map-wrapper{
   height: 750px;
   width: 100%;
   position: sticky;
   top: 100px;
}

.city-label {
   padding-bottom: 40px;
}