#modal-background, #review-modal-background,
#cancelling-modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.3);
   z-index: 20;
   overflow-y: hidden;
 }

 #cancelling-modal-background{
   background: none;
 }

 #modal-contents, #review-modal-contents, #cancelling-modal-contents{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fefefe;
   border-radius: 20px;
 }

 #modal-contents {
   width: 600px;
   height: 500px;
 }

 #review-modal-contents{
   width: 800px;
   height: 600px;
 }

 #cancelling-modal-contents {
   width: 320px; 
   height: 150px;
   box-shadow: 1px 3px 12px 7px rgba(190,190,190,0.3);

 }

  #modal-x {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 20px;
 }

