#search-button {
  border-radius: 25px;
  border: 1px solid #ebebeb;
  font-size: 16px;
  font-weight: 400;
  width: 325px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  background: #fff;
}


#search-badge {
  background: #044241;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal-nav{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; 
  background: #fff;

}

#logo {
  font-weight: 700;
  font-size: 24px;
}