#search-button {
  border-radius: 25px;
  font-size: 18px;
  font-weight: 400;
  width: 325px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;

  :hover {
    
  }
}

#search-badge {
  background: #044241;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}