
#search-button {
  border-radius: 25px;
  border: 1px solid #ebebeb;
  font-size: 16px;
  font-weight: 400;
  width: 325px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  background: #fff;
}


#search-button:hover{
  box-shadow: 1px 3px 12px 7px rgba(190,190,190,0.3);
}


#search-badge {
  background: #044241;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}


.normal-nav{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; 
  min-width: 90%;
  background: #fff;
  position: relative;
  box-shadow: 1px 3px 12px 7px rgba(190,190,190,0.3);
  z-index: 12;
}

#nav-logo {
  font-weight: 700;
  color: #044241;
  display: flex;
  align-items: center;
  > h1 {
    font-size: 22px;
  }

  > img:first-child{
    height: 50px;
    width: 75px;
    margin-right: -8px;
    margin-left: -20px;
  }
}

button.green > i:last-child {
  color: #044241;
}


