#search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  border-radius: 35px;
  border: 1px solid #ebebeb;
  background: #fff;
  width: 100%;
  height: 65px;

   label {
    font-size: 14px;
    font-weight: 600;
  }

  input:focus, .guest-menu-open{
  box-shadow: 1px 3px 12px 7px rgba(190,190,190,0.3);
  border-radius: 35px;
  border-bottom: none;
  background: #fff;
}

input:focus:hover {
  background: #fff;
}
}

.location-field {
  position: relative;
  padding-top: 5px;

  > label{
    position: absolute;
    top: 7px;
    left: 30px;

  }

  > input{
    width: 289px;
    padding-left: 30px;
    padding-top: 29px;
    padding-bottom: 7px;
    height: 98%;
    border: none;
    border-radius: 35px;
    margin-right: -22px;
    background: #fff;
    
    font-weight: 100;
    font-size: 16px;
  }
}






.search-bar-button {
  background: #044241;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute;
  border: 0;


  > i {
    color: white;
  }
}



.calendars {
  position: relative;
}

#checkin-label {
  position: absolute;
  top: 3px;
  left: 11px;
  z-index: 5;

}

#checkout-label{
  position: absolute;
  top: 3px;
  left: 164px;
  z-index: 5;
}


.DateInput_input {
  padding: 35px 11px 2px 20px;  
  font-family: inherit;
  font-size: 16px;
  width: 95%;
  border-radius: 30px;
}

.DateInput_input_1{
  margin-right: 9px;
}

.DateInput_2{
  margin-left: 5px;
}

.guests {
  position: relative;
  width: 229px;
  height: 97%;
  border-radius: 30px;
  display: flex;
  padding: 0 25px 3px 15px;
  align-items: flex-end;
  
  #guests-label {
    position: absolute;
    top: 3px;
  }

  > h3 {
    font-weight: 100;
    font-size: 16px;
    padding-bottom: 2px;
    color: #8e8e8e;
  }
}

input:hover, .guests:hover {
  background: #ebebeb;
}

.guest-menu-open:hover {
  background: #fff;
}

.search-form-wrapper {
  position: relative;
  width: 900px;
  margin: auto;

  .search-bar-button{
    position: absolute;
    right: 15px;
    top: 12px;
  }
}

.search-bar-button:disabled{
  background: #04424190;
}



 .search-form-wrapper .guest-drop {
  position: absolute;
  background: #fff;
  height: 60px;
  border-radius: 30px;
  width: 350px;
  right: 0;
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search-form-wrapper .changeNum{
  display: flex;
  justify-content: space-evenly;
  width: 180px;
  
  > p {
    font-weight: 600;
    font-size: 24px;
  }
  > button {
    border-radius: 50%;
    border: 1px solid black;
    background: #fff;
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  > button:disabled {
    border: 1px solid #ebebeb;
  }
}

#search-form:before{
  content: '';
  width: 0;
  height: 60%;
  position: absolute;
  border-left: 1px solid #ebebeb;
  top: 12px;
  left: 323px;
  z-index: 1;
}

#search-form:after{
  content: '';
  width: 0;
  height: 60%;
  position: absolute;
  border-left: 1px solid #ebebeb;
  top: 12px;
  left: 478px;
}

.search-form-wrapper:after{
  content: '';
  width: 0;
  height: 60%;
  position: absolute;
  border-left: 1px solid #ebebeb;
  top: 12px;
  right: 268px;
}


