.session-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 155%;
  padding-top: 10px;
}

.session-form input {
  width: 100%;
  border: 1px solid  #bbb;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  height: 60px;

  font-weight: 100;
  font: inherit;
}



.session-form > section{
  width: 90%;
}


.grouped-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid  #bbb;
  position: relative;
  margin-top: 15px;
}

.grouped-inputs > input{
  border: none;
  height: 60px;
  background: transparent;
}

.grouped-inputs > input:first-child{
  border-bottom: 1px solid #bbb;
  border-radius: 0px;
}

.lower-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 4px 0 25px 0;
}

.lower-inputs input {
  margin-top: 35px;
}

.session-form p:last-child{
  align-self: flex-start
}

.session-form input[type=submit], .session-form button{
  width: 90%;
  margin-top: 15px;
  background: #044241;
  border: none;
  color: #fff; 
}

#demo-button{
  height: 60px;
  border-radius: 5px;
  font-size: 16px;
}

#login-button{
  margin-top: 45px;
  font-size: 18px;
}

h3.form-title{
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
}

.opposite-modal-option {
  margin-top: 15px;
  margin-left: 5%;
}

.opposite-modal-option > a {
  margin-left: 15px;
  font-size: 16px;
  text-decoration: underline;
}

 #password-show {
  position: absolute;
  text-decoration: underline;
  font-size: 12px;
  right: 30px;
  bottom: 20px;
}

.form-wrapper {
  height: 87%;
  width: 100%;
  position: absolute;
  top: 65px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.session-form div {
  width: 100%;
}

.first-name-input > input, .last-name-input > input {
   border: none;
}

.first-name-input {
  border-bottom: 1px solid #bbb;
}

.first-name-input, .last-name-input {
  background: transparent;
}


.session-form input[type="text"],
.session-form input[type="password"],
.session-form input[type="date"]{
  background: #fff;
}

.session-form input[type="text"]:focus, 
.session-form input[type="password"]:focus,
.session-form input[type="date"]:focus,
#log-in-input:focus, #log-in-password-input:focus{
  border: 1px solid black;
}

.session-form input[type="password"]:hover {
  background: #fff
}

.rel-input, .first-name-input {
  position: relative;
}

div.error-msg{
  position: absolute;
  top: 94px;
  color: red;
  font-size: 14px;
}

div.first_name-error{
  top: -28px;
}

div.last_name-error{
  top: 120px;
}

div.log_in-error{
  top: 124px;
}

log-in-group {
  margin-bottom: 40px;
  position: relative
}

.log-in-email {
  border-bottom: 1px solid #bbb;
}

p.disclaimer{
  width: 100%;
  color: gray;
  margin-left: 10%;
  margin-top: 5px;
  font-size: 14px;
}

#log-in-input, #log-in-password-input {
  border: none;
}

.log-in-label, .sign-up-label{
  position: absolute;
  font-size: 12px;
  left: 10px;
  display: none;
}

#log-in-input:focus + label,
#log-in-password-input:focus + label,
#sign-up-first:focus +label,
#sign-up-last:focus + label,
#sign-up-bday:focus + label,
#sign-up-email:focus + label,
#sign-up-password:focus + label,
#sign-up-bday:focus + label,
label.valid,
label.nobday
{
  display: inline-block;
}

label.email,
label.bday,
label.pword {
  top: 32px;
}

label.nobday{
  font-size: 16px;
  color: #666;
  padding-bottom: 3px;
  top: 48px;
  width: 100px;
  height: 35px;
  background: #fff
}


