.session-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130%;
  padding-top: 10px;
}

.session-form input {
  width: 100%;
  border: 1px solid  #bbb;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: 100;
  font: inherit;
}

.session-form > section{
  width: 90%;
}


.grouped-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid  #bbb;
  position: relative;
  margin-top: 15px;
}

.grouped-inputs > input{
  border: none;
  height: 46px;
  background: transparent;
}

.grouped-inputs > input:first-child{
  border-bottom: 1px solid #bbb;
  border-radius: 0px;
}

.lower-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 4px 0 25px 0;
}

.lower-inputs input {
  margin-top: 35px;
}

.session-form p:last-child{
  align-self: flex-start
}

.session-form input[type=submit], .session-form button{
  width: 90%;
  margin-top: 15px;
  background: #044241;
  border: none;
  color: #fff; 
}

#demo-button{
  height: 50px;
  border-radius: 5px
}

h3.form-title{
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  text-align: center;
}

.opposite-modal-option {
  margin-top: 15px;
  margin-left: 5%;
}

.opposite-modal-option > a {
  margin-left: 15px;
  font-size: 16px;
  text-decoration: underline;
}

 #password-show {
  position: absolute;
  text-decoration: underline;
  font-size: 12px;
  right: 30px;
  bottom: 15px;
}

.form-wrapper {
  height: 86.75%;
  width: 100%;
  position: absolute;
  top: 64px;
  overflow: auto; 
  
}

.session-form div {
  width: 100%;
}

.first-name-input > input, .last-name-input > input {
   border: none;
}

.first-name-input {
  border-bottom: 1px solid #bbb;
}

.first-name-input, .last-name-input {
  background: transparent;
}


.session-form input[type="text"], .session-form input[type="date"]{
  background: #fff;
}

.session-form input[type="text"]:focus, .session-form input[type="date"]:focus{
  border: 1px solid black;
}

.rel-input, .first-name-input {
  position: relative;
}

div.error-msg{
  position: absolute;
  top: 85px;
  color: red;
  font-size: 14px;
}

div.first_name-error{
  top: -28px;
}

div.last_name-error{
  top: 101px;
}

