

#splash-img{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
  height: 600px;
  object-fit: cover;
}

.splash-nav{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; 
  color: #fff;
}


.center-nav {
  width: 20%;

  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;

    > li > a {
      display: block;
      height: 100%;
      font-weight: 400;
      position: relative;
    }
  }
}



#center-link-1:hover:after {
    content: ""; 
    display: block; 
    position: absolute;
    left: 15px;
    width: 15px;
    padding-top: 12px;
    border-bottom: 2px solid #fff; 
}

#center-link-2:hover:after {
    content: ""; 
    display: block; 
    position: absolute;
    left: 25px;
    width: 15px;
    padding-top: 12px;
    border-bottom: 2px solid #fff; 
}

.slogan > h1{ 
    font-weight: 700;
    color: #fff;
    font-size: 115px;
    padding: 110px 25px 0 100px;
    width: 120px;
    line-height: 1em;
}


.link-wrapper{
  width: 180px;
  height: 40px;
  margin-left: 115px;
  margin-top: 25px;
}

.splash-index-link{
  background: #fff;
  padding-top: 5px;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-weight: 400px;
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.splash-index-link:hover{
   background: #ebebeb;
}
  


