.splash-nav{
  display: flex;
  justify-content: space-between;
  

  img {
    width: 100px;
  }
}

.center-nav {
  width: 20%;

  ul {
    display: flex;
    justify-content: space-between;
  }

}

