#search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
  border-radius: 35px;
  border: 1px solid #ebebeb;
  background: #fff;
  width: 850px;
  height: 70px;

  #search-button {
    width: 200px;
  }
}

.location-field {
  position: relative;
  padding-top: 5px;

  > label{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 14px;
    font-weight: 600;

  }

  > input{
    width: 300px;
    padding-left: 30px;
    padding-top: 15px;
    box-sizing: border-box;
    height: 70px;
    border: none;
    border-radius: 35px;
    background: transparent;
    margin-right: -15px;
    font-weight: 100;
    font-size: 16px;
  }
}

input:focus{
  box-shadow: 1px 3px 12px 7px rgba(190,190,190,0.3);
  border-radius: 35px;
}

.guests {
  position: relative;
  height: 100%;
  

  > #guest-label {
    position: absolute;
    top: 10px;
  }
}

#search-bar-button {
  background: #044241;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center; 

  > i {
    color: white;
  }
}

#search-bar-button:hover {
  cursor: pointer;
}

.calendars {
  position: relative;
  
  > label {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    z-index: 5;
  }

  #checkin {
    top: 5px;
    left: 10px;
  }

  #checkout{
    top: 5px; 
    left: 162px;
  }

}



