.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rbga(0,0,0,0.8);

}

body {
  background: red;
}

.modal-form {
  position: absolute;
  background: white;
}