#modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.3);
   z-index: 2;
 }

 #modal-contents {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fefefe;
   border-radius: 20px;
   width: 550px;
   height: 475px;
   overflow: hidden
 }

  #modal-x {
    position: absolute;
    top: 25px;
    left: 25px;
 }

 .session-form {
   padding: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .session-title{
  text-align: center;
  border-bottom: #f0f0f0 1px solid;
  position: relative;
 }

 .form-wrapper {
   overflow: scroll;
   height: 90%;
 }

 .session-form input{
   font-size: 16px;
   height: 55px;
   padding: 8px 4px;
   width: 95%;
   border: 1px solid #d7d7d7;
   border-radius: 8px;
 }

 .session-form label{
   position: relative; 
 }

 .session-form input[type='submit'] {
   background: #044241;
   color: white;
 }

